.button {
    display: inline-block;
    padding: 17px 35px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: $grayish-dark-blue;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $grayish-dark-blue;
    transition: color 0.7s, background-color 0.5s ease;
}

.button:hover {
    color: #ffffff;
    background-color: $grayish-dark-blue;
}

.button:active {
    color: $grayish-dark-blue;
    border: 1px solid $light-grey;
    background-color: transparent;
}

.hero__btn {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    background-color: #203a4c;
    color: #fff;
    width: 100%;
    max-width: 200px;
    border: none;
    background-image: url("../img/btn-img.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
    padding: 17px 0px 17px 48px;
}
.hero__btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.2s all;
    box-shadow: 5px 5px 5px black;
}
.hero__btn:active {
    opacity: 0.6;
    box-shadow: 5px 5px 5px red;
}

.about__link {
    text-decoration: none;
    border: 1px solid #000;
}
