.contact-hero {
    padding: 0px 0px 86px;

    &__img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
    .contact-hero {
        padding: 0px 0px 30px;
    }
}