.contact-manage {
    padding: 64px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left-desctop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 0px;
        width: 100%;
        max-width: 350px;
        border-top: 1px solid #33323d26;
        border-bottom: 1px solid #33323d26;
    }

    &__left-table {
        display: none;
    }

    &__left-heading {
        font-family: "Ibarra Real Nova";
        margin: 0px 0px 29px;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.36px;
        color: $grayish-dark-blue;
    }

    &__left-desc {
        margin: 0px 0px 23px;
        font-size: 15px;
        line-height: 30px;
        color: $grayish-dark-blue;
        opacity: 0.8;
    }

    &__left-link {
        margin-bottom: 16px;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: $slightly;
    }

    &__left-link:nth-last-of-type(1) {
        margin-bottom: 32px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 650px;
    }

    &__right-heading {
        font-family: "Ibarra Real Nova";
        margin: 0px 0px 28px;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.3px;
        color: $grayish-dark-blue;
    }

    &__right-desc {
        margin: 0px 0px 40px;
        font-size: 15px;
        line-height: 30px;
        color: $grayish-dark-blue;
        opacity: 0.8;
    }

    &__right-img {
        margin-bottom: 32px;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &__right-img:nth-last-of-type(1) {
        margin: 0;
    }

}

// MEDIA

@media only screen and (max-width: 1070px) {
    .contact-manage {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin-bottom: 40px;
            border-top: 1px solid #33323d26;
            border-bottom: 1px solid #33323d26;
        }

        &__left-table {
            display: inline-block;
            width: 100%;
            max-width: 420px;
        }

        &__left-desctop {
            border: none;
        }

        &__left-desc {
            display: none;
        }

        &__left-desc-table {
            margin: 0px;
            font-size: 15px;
            line-height: 30px;
            color: $grayish-dark-blue;
            opacity: 0.8;
        }

        &__right {
            width: 100%;
            max-width: 100%;
        }

    }
}

@media only screen and (max-width: 830px) {
    .contact-manage {
        &__left-table {
            max-width: 350px;
        }

        &__left-link:nth-last-of-type(2) {
            margin-right: 15px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .contact-manage {
        &__left {
            display: flex;
            justify-content: start;
            margin-bottom: 40px;
        }

        &__left-table {
            display: none;
        }

        &__left-desctop {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: 100%;
            border-top: 1px solid #33323d26;
            border-bottom: 1px solid #33323d26;
        }

        &__left-desc {
            display: inline-block;
        }

        &__left-link:nth-last-of-type(2) {
            margin-right: 0px;
        }
    }
}